---
import "../styles/global.css";
import Navbar from "./Navbar.tsx";
import WelcomeHero from "./Welcome/Hero.tsx";
import Footer from "./Welcome/Footer.tsx";
import OurPrincipalsSection from "./Welcome/OurPrincipalsSection.tsx";
import WhatWeDoSection from "./Welcome/WhatWeDoSection.tsx";
import CultureSection from "./Welcome/CultureSection.tsx";
import ContactSection from "./Welcome/ContactSection.tsx";
---

<div
    class="min-h-screen bg-linear-to-br from-white to-gray-100 text-emerald-800 font-sans"
>
    <div id="root">
        <div class="min-h-screen bg-linear-to-b from-slate-50 to-white">
            <Navbar />
            <WelcomeHero />
            <OurPrincipalsSection />
            <WhatWeDoSection />
            <CultureSection />
            <ContactSection />
            <Footer />
        </div>
    </div>
</div>
